<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Ishaant's blogs</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik+Doodle+Shadow&display=swap"
          rel="stylesheet">

    <link href="../static/main.css" rel="stylesheet">
</head>
<body>
<header><h1>Ishaant's Blogs!</h1></header>
<main>{{content}}</main>

<br>
<footer>
    <p>&copy; 2024-2025 Ishaant nandu</p>
</footer>
<script src="../static/app.js"></script>
</body>
</html>