:root {
    --headingsize: clamp(30px, 43px, 63px);
    --h3size: clamp(38px, 48px, 56px);
    --body: clamp(18px, 24px, 24px);
    --normalFont:system-ui;
    --headingFont:system-ui;
    --headermargin: clamp(10px, 40%, 43px);
    --bdradius: 24px;
}

::selection {
    color: #ffffff;
    background: #6f6f6f;
}

::-moz-selection {
    background: #6f6f6f;
}

*{
    text-align:center;
}
body{
    font-family:system-ui;
    padding: 0;
    font-family: var(--normalFont), sans-serif;
    font-size: var(--body);
    font-weight:normal;
    line-height:1.5em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-wrap: balance;
}

ul,li,dl {
    list-style-position: inside; /* This will place the bullets inside of the content box */
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    background-repeat: repeat;
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--headingFont);
    font-size:var(--headingsize);
}

footer {
    padding: 0px;
    background-color: #abbaba;
    margin-top: auto;
    width: 100vw;
    animation: none;
}

pre {
    line-height: 125%;
    text-align:left!important;
    font-family: "JetBrains Mono", monospace;
    padding:clamp(20px,30px ,40px);
    white-space: pre-wrap;
    word-wrap: break-word;
    font-weight: 400;
    position: relative;
    border-radius:48px;
    background: rgb(40, 44, 52);
}
.copy-button {
    position: absolute;
    top: 2px;
    right: 10px;
    font-family:var(--normalFont);
    cursor: pointer;
    color: #fff;
    background: gray;
    border-radius: 0.5em;
    padding: 2px 7px;
}
.codehilite{
    border-radius:48px;
    border:5px inset black;
    padding:30px;
    background:rgb(40, 44, 52);
    width:min-content;
    margin:0 auto;

}
.codehilite::before{
    content:'Code';
    color:white;

}

.copy-button:hover {
    background: #0e2946;
}

td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #7F848E } /* Comment */
.err { color: #ABB2BF } /* Error */
.esc { color: #ABB2BF } /* Escape */
.g { color: #ABB2BF } /* Generic */
.k { color: #C678DD } /* Keyword */
.l { color: #ABB2BF } /* Literal */
.n { color: #E06C75 } /* Name */
.o { color: #56B6C2 } /* Operator */
.x { color: #ABB2BF } /* Other */
.p { color: #ABB2BF } /* Punctuation */
.ch { color: #7F848E } /* Comment.Hashbang */
.cm { color: #7F848E } /* Comment.Multiline */
.cp { color: #7F848E } /* Comment.Preproc */
.cpf { color: #7F848E } /* Comment.PreprocFile */
.c1 { color: #7F848E } /* Comment.Single */
.cs { color: #7F848E } /* Comment.Special */
.gd { color: #ABB2BF } /* Generic.Deleted */
.ge { color: #ABB2BF } /* Generic.Emph */
.ges { color: #ABB2BF } /* Generic.EmphStrong */
.gr { color: #ABB2BF } /* Generic.Error */
.gh { color: #ABB2BF } /* Generic.Heading */
.gi { color: #ABB2BF } /* Generic.Inserted */
.go { color: #ABB2BF } /* Generic.Output */
.gp { color: #ABB2BF } /* Generic.Prompt */
.gs { color: #ABB2BF } /* Generic.Strong */
.gu { color: #ABB2BF } /* Generic.Subheading */
.gt { color: #ABB2BF } /* Generic.Traceback */
.kc { color: #E5C07B } /* Keyword.Constant */
.kd { color: #C678DD } /* Keyword.Declaration */
.kn { color: #C678DD } /* Keyword.Namespace */
.kp { color: #C678DD } /* Keyword.Pseudo */
.kr { color: #C678DD } /* Keyword.Reserved */
.kt { color: #E5C07B } /* Keyword.Type */
.ld { color: #ABB2BF } /* Literal.Date */
.m { color: #D19A66 } /* Literal.Number */
.s { color: #98C379 } /* Literal.String */
.na { color: #E06C75 } /* Name.Attribute */
.nb { color: #E5C07B } /* Name.Builtin */
.nc { color: #E5C07B } /* Name.Class */
.no { color: #E06C75 } /* Name.Constant */
.nd { color: #61AFEF } /* Name.Decorator */
.ni { color: #E06C75 } /* Name.Entity */
.ne { color: #E06C75 } /* Name.Exception */
.nf { color: #61AFEF; font-weight: bold } /* Name.Function */
.nl { color: #E06C75 } /* Name.Label */
.nn { color: #E06C75 } /* Name.Namespace */
.nx { color: #E06C75 } /* Name.Other */
.py { color: #E06C75 } /* Name.Property */
.nt { color: #E06C75 } /* Name.Tag */
.nv { color: #E06C75 } /* Name.Variable */
.ow { color: #56B6C2 } /* Operator.Word */
.pm { color: #ABB2BF } /* Punctuation.Marker */
.w { color: #ABB2BF } /* Text.Whitespace */
.mb { color: #D19A66 } /* Literal.Number.Bin */
.mf { color: #D19A66 } /* Literal.Number.Float */
.mh { color: #D19A66 } /* Literal.Number.Hex */
.mi { color: #D19A66 } /* Literal.Number.Integer */
.mo { color: #D19A66 } /* Literal.Number.Oct */
.sa { color: #98C379 } /* Literal.String.Affix */
.sb { color: #98C379 } /* Literal.String.Backtick */
.sc { color: #98C379 } /* Literal.String.Char */
.dl { color: #98C379 } /* Literal.String.Delimiter */
.sd { color: #98C379 } /* Literal.String.Doc */
.s2 { color: #98C379 } /* Literal.String.Double */
.se { color: #98C379 } /* Literal.String.Escape */
.sh { color: #98C379 } /* Literal.String.Heredoc */
.si { color: #98C379 } /* Literal.String.Interpol */
.sx { color: #98C379 } /* Literal.String.Other */
.sr { color: #98C379 } /* Literal.String.Regex */
.s1 { color: #98C379 } /* Literal.String.Single */
.ss { color: #98C379 } /* Literal.String.Symbol */
.bp { color: #E5C07B } /* Name.Builtin.Pseudo */
.fm { color: #56B6C2; font-weight: bold } /* Name.Function.Magic */
.vc { color: #E06C75 } /* Name.Variable.Class */
.vg { color: #E06C75 } /* Name.Variable.Global */
.vi { color: #E06C75 } /* Name.Variable.Instance */
.vm { color: #E06C75 } /* Name.Variable.Magic */
.il { color: #D19A66 } /* Literal.Number.Integer.Long */




